@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Para mas información del repositorio del proyecto <a href="https://github.com/yod108/ProyectSerInfo.App.git">ProyectSerInfo.App.git</a>.</p>
</div>


