@page
@using ProyectSerInfo.Dominio;
@model SerInfoFrontend.Frontend.Pages.Clientes.Create1Model
@{
}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <!--Espacio reservado para hacer algo-->
    </div>
    <div class="col-md-auto">
      
    </div>
    <div class="col col-lg-2">
      <!--Espacio reservado para hacer algo-->
    </div>
  </div>
</div>