@page
@using ProyectSerInfo.Dominio;
@model SerInfoFrontend.Frontend.Pages.Clientes.Details1Model
@{
}

<h1>Detalle del Cliente</h1>
<table class="table table-striped">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.cliente.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Apellido</th>
        <td>@Model.cliente.Apellido</td>
    </tr>
</table>